#menu {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#menu>li:first-child {
    margin-left: 20px;
  }

li {
    position: static;
}

h2 {
    float: left;
    width: 90px;
    height: 90px;
    background-color: skyblue;
    text-align: center;
    line-height: 85px;
    color: white;
    border: 5px solid skyblue;
    box-sizing: border-box;
    border-radius: 500px;
    transition: all 0.2s ease-out;
    font-size: 20px;
    margin-right: 30px;
    margin-left: 30px;
    position: absolute;
}


/*h2:hover{
  color:skyblue;
  background-color: white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  line-height:110px;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 15px;
}*/

.menubtn1 {
    top: 40px;
    left: 10px;
}

.menubtn2 {
    top: 40px;
    left: 140px;
}

.menubtn3 {
    top: 40px;
    left: 270px;
}

.menubtn4 {
    top: 40px;
    left: 400px;
}

body {
    margin: 0px;
}
