header>ul{

}


header>ul>li{
display: inline-block;
list-style-type: none;
font-size: 15px;
width: 50px;
height: 50px;
text-align: center;
line-height: 50px;
}

header>ul>li>a{
  display: block;
  transition: 0.2s ease-in-out;
  text-decoration:none
}

header>ul>li>div>ul{
  padding: 0;
}

header>ul>li>div>ul>li{
    background-color:rgba(163, 163, 163,0.5) ;
    border-bottom: 1px solid;
    list-style-type: none;
    height: 0px;
    transition: 0.5s ease-in-out;
}
.menu{
  width: 50px;
  padding: 0;
  font-size: 15px;
  display: block;
}
