header{
  height: 50px;
  background-color: rgba(209, 209, 209,0.7);
}

.menu{
  text-align: center;
  line-height: 50px;
  display: inline-block;
  list-style-type: none;
  transition-duration:0.2s;
  position: absolute;
}

.menu:nth-child(1){
  left: 40px;
}
.menu:nth-child(2){
  left: 100px;
}
.menu:nth-child(3){
  left: 160px;
}

.menu > a{
  display: block;
  height: 50px;
  width: 60px;
  transition-duration:0.2s;
}

.menu-table{
  padding: 0;
}

.table-group{
  list-style-type: none;
  transition-duration:0.2s;
}

.table-group > a{
  display: block;
  width: 60px;
}

.menu-table{
  display: inline-block;;
}
